body{
    background-image: url("https://img.pikbest.com/backgrounds/20191110/simple-math-advertising-background_2774004.jpg!w700wp"); 
    background-repeat: no-repeat; 
    background-size: 100%;
}